body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    margin: 2%;
    padding: 2%;	
    overflow: hidden;			

}


.background-yellow{
    position: absolute;
    top: 1vw;
    left: 1vww;
    width: 95vw;
    height: 95vh;
    background-color: #d6ff20;
    z-index: -1;
}

button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin: 10px;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Creates 4 equal columns */
    grid-gap: 10px; /* Adjust the gap between grid items */
  }

  /* Style for the grid items (divs inside the container) */
  .grid-item {
    position: relative;
    padding: 10px;
    text-align: center;
  }

  .grid-item img {
    width: 50%; /* Resize the image to half of its container */
    height: auto; /* Maintain the aspect ratio */
  }

  #counter {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    border-radius: 5px;
  }